.hero-beforeafter-container {
  position: relative;
  width: 100vw;
  height: 100vh;

  input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type="range"]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 100vh;
    width: 150px;
    z-index: 3;
    background: transparent;
    cursor: ew-resize;
    margin-left: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

  .arrow-placement {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  .slider-ba {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: transparent;
    left: 2px;
    height: 100%;
    z-index: 1;
  }

  .hero-ba-item {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: contain;

    &.foreground {
      position: relative;
      width: 95%;
      max-width: 99%;
      min-width: 0%;
      border-right: 2px solid white;
      overflow-x: hidden;

      .img-container {
        position: absolute;
        width: 100vw;
        height: 100%;
        background-size: cover;

        .content {
          position: absolute;
          right: 0;
          max-width: 100%;
          padding: 2rem;
          width: 800px;
          color: white;
          z-index: 1;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: left;

          .header {
            font-size: 2rem;
            font-weight: 600;
          }

          .excerpt {
            font-weight: 300;
            max-width: 400px;
          }
        }
      }

      .label {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        right: 2rem;
        color: white;
        top: 2rem;
        text-transform: uppercase;
        font-weight: 300;
        white-space: nowrap;

        strong {
          font-weight: 700;
        }
      }
    }

    &.background {
      position: absolute;

      .img-container {
        position: absolute;
        width: 100vw;
        height: 100%;
        background-size: cover;

        .content {
          position: absolute;
          right: 0;
          max-width: 100%;
          padding: 2rem;
          padding-left: 4rem;
          width: 800px;
          color: white;
          z-index: 0;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: right;

          .header {
            font-size: 2rem;
            font-weight: 600;
          }

          .excerpt {
            font-weight: 300;
            max-width: 400px;
          }
        }
      }
    }
  }
}
