@import "assets/scss/breakpoints.scss";

.navigation-container {
  position: fixed;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100vw;
  max-width: 100vw;
  background-color: white;
  z-index: 10;

  .logo-wrapper {
    margin-left: 20px;
  }

  .close-wrapper {
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    right: 2rem;

    &.open {
      div {
        width: 20px;
        transform: rotate(-45deg) translate(-2px, -2px);

        &:first-child {
          width: 20px;
          transform: rotate(45deg) translate(-2px, -1px);
        }
        &:nth-last-child(2) {
          opacity: 0;
          width: 0px;
        }

        transition: all ease-in-out 0.3s;
      }
    }

    div {
      opacity: 1;
      display: block;
      height: 3px;
      background-color: navy;
      transform-origin: 0% 10%;
      position: relative;
      margin-bottom: 0px;
      width: 18px;

      &:first-child {
        transform-origin: 0% 0%;
        margin-bottom: 3px;
        width: 20px;
      }
      &:nth-last-child(2) {
        transform-origin: 50% 100%;
        margin-bottom: 3px;
        width: 14px;
      }

      transition: all ease-in-out 0.3s;
    }
  }

  .nav-wrapper {
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    height: 100vh;
    z-index: 10;
    border-radius: 0;
    min-width: 350px;
    padding-top: 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    display: none;
    &.visible {
      display: block;
    }

    //if nav item consists of dropdown
    .dropdown-nav {
      //show icon when dropdown
      .nav-item {
        position: relative;
        &::after {
          position: absolute;
          top: 50%;
          right: 2rem;
          content: "";
          width: 10px;
          height: 10px;
          border-right: 1px solid black;
          border-bottom: 1px solid black;
          transform: translateY(-50%) rotate(-45deg);
          transition: transform ease-out 0.3s;
        }
      }

      //nav item is open
      &.active {
        //rotate icon
        .nav-item {
          position: relative;
          &::after {
            transform: translateY(-50%) rotate(45deg);
          }

          &::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 100%;
            background-color: navy;
            top: 0;
            left: 0;
          }
        }

        //height becomes auto to show
        .dropdown-nav-wrapper {
          max-height: 100vh;
          transition: max-height ease-in 0.3s;
        }
      }

      //hide when not active with max-height 0px
      .dropdown-nav-wrapper {
        max-height: 0px;
        height: auto;
        overflow-y: hidden;
        background-color: white;

        .dropdown-item {
          text-transform: uppercase;
          font-weight: 600;
          padding: 1rem 2rem 1rem 4rem;
          font-size: 0.8rem;
          cursor: pointer;
          color: black;
        }
      }
    }

    .nav-item {
      padding: 2rem 2rem;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: rgba(97, 46, 46, 0.05);
      }
    }
  }
}
