.company-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: white;
  text-align: center;
  color: black;
  height: 100%;

  .logo-img {
    width: auto;
    max-width: 100%;
    margin: 0 auto 2rem auto;
  }

  .title {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .content {
    font-weight: 300;
    text-align: left;
    margin-bottom: 2rem;
    line-height: 1.8rem;
  }

  .cta-button {
    text-decoration: none;
    color: black;
  }
}
