.hero-station-container {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 120px 0 2rem 0;
  display: flex;

  justify-content: center;
  
  .content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    color: white;

    .header {
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      span {
        font-size: 1.5rem;
      }
      strong {
        font-size: 3.5rem;
        line-height: 2.5rem;
        text-transform: uppercase;
      }
    }

    .description {
      font-size: 1.1rem;
      font-weight: 300;
      text-align: center;
    }

    .cta-button {
      margin: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      border: 1px solid white;
      padding: 1.5rem;
      width: 100%;
      max-width: 450px;

      img {
        margin-left: 10px;
      }
    }

    .stations-content {
      .header {
        margin: 1.5rem auto;
        font-size: 2rem;
        text-transform: uppercase;
        color: white;
      }

      .dropdown-wrapper {
        display: flex;
        flex-direction: column;
        .label {
          font-weight: 300;
          margin-bottom: 5px;
        }

        .dropdown-control {
          display: flex;

          select {
              min-width: 300px;
              padding: 0 .5rem;
              background-color: transparent;
              color: white;
              border-color: white;
          }

          .submit-button {
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            border: 1px solid white;
            padding: 1rem;
            margin: 0 .5rem;

            img {
                margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
