.side-by-side-container {
  position: relative;
  background-color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  &.reverse {
    flex-direction: row-reverse;
  }

  .arrow-placement {
    position: absolute;
    left: 50%;
    bottom: 2.5rem;
    transform: translateX(-50%);
  }

  .content-container {
    display: flex;
    flex-direction: column;
    padding: 100px 2rem;
    justify-content: center;
    .logo {
      max-width: 600px;
      width: 80%;
      margin-bottom: 2rem;
    }
    .title {
      font-size: 1.875rem;
      margin-bottom: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #373435;
    }
    .content {
      line-height: 2rem;
      font-weight: 300;
      color: #373435;
    }

    .btn-cta {
      align-self: flex-start;
      margin-top: 2rem;
      color: navy;
      border-color: navy;
      border-radius: 0;
      max-width: 100%;
      padding: 2rem 5rem 2rem 3rem;
      white-space: nowrap;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .img-container {
    width: 100%;
    height: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: center;
  }
}
