@import url("https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3 !important;
}

.black-gradient-overlay {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background: linear-gradient(to top, black, transparent);
  width: 100%;
  height: 100%;
}

.bg-overlay-black {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background: black;
  width: 100%;
  height: 100%;
}

.bg-overlay-blue {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.8;
  background: linear-gradient(to bottom right, #0092dd, transparent);
  width: 100%;
  height: 100%;
}

.close-button-circle {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: 0;
  border: 0;
  padding: 0;
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
  z-index: 2000;

  .icon-x {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: relative;
    width: 15px;
    height: 15px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      right: 0;
      height: 1px;
      background: black;
      border-radius: 1px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    span {
      display: block;
    }
  }
}
