@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:wght@700;800;900&display=swap");
@import "./breakpoints.scss";
body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    30deg,
    rgba(5, 40, 106, 1) 30%,
    rgba(0, 96, 215, 1)
  );
  background-attachment: fixed;
} 

.main-content {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}
