@import url("https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "./breakpoints.scss";
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3 !important;
}

._pt-70 {
  padding-top: 70px;
}

.arrow-wrapper {
  cursor: pointer;
  position: relative;
  display: flex;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;

  &.bg-black {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 1px;
    background-color: white;
    transform-origin: 50% 50%;
    transform: translate(8px, -(12px / 2)) rotate(-45deg);
    left: 9px;
    top: 26px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 1px;
    background-color: white;
    transform-origin: 50% 50%;
    transform: translate(0, -(12px / 2)) rotate(45deg);
    left: 9px;
    top: 26px;
  }
}

.black-gradient-overlay {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background: linear-gradient(to top, black, transparent);
  width: 100%;
  height: 100%;
}
.white-gradient-overlay {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background: linear-gradient(to top, white, transparent);
  width: 100%;
  height: 100%;
}

.black-gradient-overlay-to-left {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.9;
  background: linear-gradient(to left, black, transparent);
  width: 100%;
  height: 100%;
}

.bg-overlay-black {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.4;
  background: black;
  width: 100%;
  height: 100%;
}

.bg-overlay-blue {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  background: linear-gradient(to bottom right, #0092dd, transparent);
  width: 100%;
  height: 100%;
}

.close-button-circle {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: 0;
  border: 0;
  padding: 0;
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
  z-index: 2000;

  .icon-x {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: relative;
    width: 15px;
    height: 15px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      right: 0;
      height: 1px;
      background: black;
      border-radius: 1px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    span {
      display: block;
    }
  }
}

.sama-sama-container {
  position: relative;
  background-color: white;
  padding-top: 250px;

  @include for-tablet-landscape-up {
    padding-top: 0;
  }
  .desktop-bg {
    display: none;
    @include for-tablet-landscape-up {
      display: flex;
    }
  }

  .mobile-bg {
    display: flex;
    @include for-tablet-landscape-up {
      display: none;
    }
  }

  .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    transform: translateY(-200px);
    justify-content: center;
    align-items: center;
    padding: 2rem;

    @include for-tablet-landscape-up {
      padding-left: 4rem;
      max-width: 40vw;
      top: 50%;
      transform: translateY(-50%);
    }

    .excerpt {
      padding-top: 2rem;
      line-height: 2rem;
      color: black;
    }
  }
}
