.hero-branding-container {
  position: relative;
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;

  // background-color: black;
  background-size: cover;
  background-position: center;

  overflow-x: hidden;
  .row {
    flex-grow: 1;
  }

  .content-container,
  .media-container {
    position: relative;
    padding: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-container {
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    color: white;
    .title {
      padding: 1rem;
      .pre-title {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }

      .main-title {
        font-size: 2.5rem;
        line-height: 2rem;
        text-transform: uppercase;
      }
    }
    .content {
      padding: 1rem 0;
      font-weight: 300;
    }

    .cta-button {
      border-color: white;
      padding: 1rem 8rem;
      border-radius: 0;
      color: white;
      text-transform: uppercase;
      font-weight: 300;
      margin-top: 1rem;
    }
  }

  .media-container {
    width: 100%;
  }
}
