.frontend-header-container {
  background-color: #0C50BA;
  color: white;
  height: 70px;

  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  width: 100vw;
  top: 0;
z-index: 1000;
  .logo {
    height: 50px;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    ul {
      width: 100%;
      padding: 0 15px;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      margin: 0;

      li {
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background-color: black;
          }
        }
      }
    }
  }
}
