.arrow-down {
  display: relative;

  &.reverse {
    transform: rotate(180deg);
  }

  &::before {
    content: "";
    display: block;
    margin: 0;
    padding: 0;
    // width: 120px;
    min-width: 50px;
    width: var(--arrow-width);
    height: 1px;
    background-color: white;
    transform: translateY(-50%);
    border-radius: 1px;
  }

  &::after {
    content: "";
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(-135deg);
    margin-top: -5px;
    margin-left: 1px;
    border-radius: 1px;
  }

  &.black {
    &::before {
      background-color: black;
    }

    &::after {
      border-top: 1px solid black;
      border-right: 1px solid black;
    }
  }
}
