@import "assets/scss/breakpoints.scss";

.footer-container {
  display: flex;
  align-items: center;
  color: black;
  font-size: 1rem;

  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;

  @include for-tablet-landscape-up {
    flex-direction: row;
    justify-content: space-between;
  }

  .copyright {
    white-space: nowrap;
    font-weight: 500;
  }

  .link-wrapper {
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;

    @include for-tablet-landscape-up {
      padding-top: 0;
      justify-content: flex-end;
      width: 100%;
    }

    .pages {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include for-tablet-landscape-up {
        flex-direction: row;
      }

      .page-item {
        text-transform: uppercase;
        padding: 0.2rem 0;

        @include for-tablet-landscape-up {
          padding: 0 2rem;
        }
      }
    }

    .socmed {
      display: flex;
      align-items: center;
      &::before {
        display: none;
        @include for-tablet-landscape-up {
          content: "Follow: ";
          display: inline;
          font-size: 0.8rem;
          padding-right: 0.5rem;
          font-weight: 300;
        }
      }
      .socmed-item {
        padding: 0 0.4rem;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
      }
    }
  }
}
