.hero-basic-container {
  position: relative;
  padding: 15rem 2rem;
  text-align: center;
  color: white;

  background-size: cover;
  background-position: center;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    // color: white;
    .pre-title {
      align-self: flex-start;
      position: relative;
      font-size: 1.2rem;
      font-weight: 300;
      padding-left: 5px;
    }
    .title {
      align-self: flex-start;
      position: relative;
      font-size: 4rem;
      line-height: 3.5rem;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 3rem;
    }
    .content {
      position: relative;

      margin: 0 auto;
      font-weight: 300;
      line-height: 1.75rem;
    }

    .cta-button {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      border: 1px white solid;
      margin-top: 2rem;
      padding: 1rem;

      img {
        margin-left: 1rem;
      }
    }
  }

  .arrow-placement {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
