@import "assets/scss/breakpoints";

.storycard-container {
  // padding: 2rem 0 0 0;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  .details-card {
    background-color: #162570;
    padding: 1.5rem;
    color: white;
    opacity: 0.9;
    margin-top: 2rem;

    .label {
      font-weight: 300;
      font-size: 3rem;
    }

    .title {
      margin: 0.5rem 0;
      font-weight: 600;
      font-size: 1.5rem;
    }

    .excerpt {
      font-weight: 300;
      line-height: 2rem;
    }
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14rem 0;

    @include for-phone-only {
      padding: 3rem 0 6rem 0;
    }
  }

  .timeline-container {
    width: 100%;
    padding: 4rem 0 2rem 0;
    .timeline-wrapper {
      width: 90%;
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .icon {
        color: white;
        width: 20px;
        height: 20px;
      }
      .timeline-item {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        &.active {
          background-color: #0092dd;
          border-color: #0092dd;
        }

        .label {
          text-transform: uppercase;
          position: absolute;
          top: -25px;
          color: white;
          font-weight: 300;
          font-size: 0.8rem;
          white-space: wrap;
        }
      }

      .timeline-line {
        background-color: white;
        flex-grow: 1;
        height: 1px;
      }
    }
  }
}
