.hero-metrics-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #162570;

  padding: 12rem 0 15rem 0;
  align-items: center;

  .arrow-placement {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-container {
    color: white;
    margin-bottom: 4rem;
    text-align: center;

    .title {
      font-size: 2rem;
      text-transform: uppercase;
    }

    .content {
      font-weight: 300;
      max-width: 700px;
      line-height: 2rem;
    }
  }

  .metrics-container {
    color: #0092dd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .metric-item {
      text-align: center;
      padding: 25px 50px;

      .figures {
        font-weight: 700;
        font-size: 4rem;
        line-height: 4rem;
      }

      .label {
        font-weight: 300;
      }
    }
  }
}
