.about-us-container {
  padding: 90px 0 5rem 0;
  display: flex;
  color: black;

  .excerpt,
  .showcase {
    flex-grow: 1;
    padding: 0 2rem;
    max-width: 50vw;
  }

  .showcase {
    border-left: 1px solid black;
    display: flex;
    flex-wrap: wrap;

    .showcase-item {
      width: 50%;
      display:flex;
      flex-direction: column;
      margin-bottom: 50px;
      padding: 0 2rem;

      .title {
        display: flex;
        align-items: center;
        font-weight: 600;
        margin-bottom: .75rem;

        .__icon {
            img {
                height: 28px;
            }
            margin-right: 8px;
        }
      }
    }
  }

  .excerpt {
    border-right: 1px solid black;

    .title {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 600;
    }

    .content {
      line-height: 2rem;
    }
  }
}
