@import "assets/scss/breakpoints.scss";

.sama-sama-container {
  position: relative;
  background-color: white;

  @include for-tablet-landscape-up {
    // min-height: 100vh;
  }

  .arrow-placement {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .desktop-bg {
    display: none;
    @include for-tablet-landscape-up {
      display: flex;
    //   max-width: 100%;
    //   max-height: 100%;
    }
  }

  .mobile-bg {
    position: relative;
    display: flex;
    @include for-tablet-landscape-up {
      display: none;
    }
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 100vw;
    padding: 90px 2rem 0 2rem;
    z-index: 1;

    @include for-phone-only {
    }

    @include for-tablet-landscape-up {
      position: absolute;
      padding: 2rem;
      padding-left: 4rem;
      max-width: 40vw;
      top: 50%;
      transform: translateY(-50%);
    }

    .logo-img {
      width: 50vw;
      max-width: 350px;
    }

    .excerpt {
      padding-top: 2rem;
      line-height: 2rem;
      color: black;
    }
  }
}
